{% extends "index.html" %}
{% block title %}
<h1 class="headerTitle">INFORMAÇÃO SOBRE TECNOLOGIAS USADAS</h1>
{% endblock %}

{% block content %}
<div>

</div>
<div class="cardContainer">
    <a href="https://developer.mozilla.org/pt-PT/docs/Web/HTML" target="_blank">
        <div class="card cardHTML">
            <div class="cardHeader">
                HTML
            </div>
            <div class="cardContent">
                <b>HyperText Markup Language</b> (HTML) ou Linguagem de Marcação de Hipertexto, <b>é o bloco de criação
                    mais
                    básico da
                    Web</b>. Este define o
                significado e estrutura de um conteúdo da Web. Outras tecnologias para além de HTML, são geralmente
                utilizadas para descrever a aparência/apresentação de uma página da Web (CSS) ou
                funcionalidade/comportamento (JavaScript). Documentos HTML podem (e devem) ser interpretados pelos
                browsers.
            </div>
        </div>
    </a>
    <a href="https://www.w3schools.com/css/" target="_blank">
        <div class="card cardCSS">
            <div class="cardHeader">
                CSS


            </div>
            <div class="cardContent">
                Cascading Style Sheets (CSS) ou Folhas de Estilo em Cascata, <b>é uma linguagem de estilo</b> usada para
                descrever a apresentação de um documento escrito em HTML ou em XML (incluindo várias linguagens em XML
                como SVG, MathML ou XHTML). O <b>CSS descreve como elementos são mostrados</b> na tela, no papel, na
                fala ou em
                outras mídias.
                CSS é uma das principais linguagens da open web e é <b>padronizada em navagadores web</b> de acordo com
                as
                especificação da W3C.

            </div>
            <div class="cardLearnMore">Learn More</div>

        </div>
    </a>
    <a href="https://www.javascript.com/" target="_blank">

        <div class="card cardJavascript">
            <div class="cardHeader">
                JAVASCRIPT


            </div>
            <div class="cardContent">
                JavaScript <b>é uma linguagem de script ou programação que permite implementar recursos complexos em
                    páginas da web</b>, sendo responsável pela maioria da "vida" - ou programação - dum website - <b>sempre
                        que uma página web faz mais do que apenas "existir" e exibir informações
                        estáticas</b> para o utilizador - como por exemplo: manipulação de elementos do HTML,
                        exibir atualizações de conteúdo oportunas, mapas
                        interativos, gráficos animados 2D / 3D,
                        etc - <b>podemos apostar que JavaScript está envolvido</b>.


            </div>
        </div>
    </a>
    <a href="https://www.python.org/" target="_blank">

        <div class="card cardPython">
            <div class="cardHeader">
                PYTHON


            </div>
            <div class="cardContent">
                Python <b>é uma linguagem de programação</b> de propósito geral <b>de alto nível</b>, multiparadigma,
                suporta o
                paradigma
                orientado a
                objetos, imperativo, funcional e procedural. Possui tipagem dinâmica e uma de suas principais
                características é permitir a <b>fácil leitura do código</b> e exigir <b>poucas linhas de código</b> se
                comparado ao
                mesmo
                programa em outras linguagens. Devido às suas características, ela é principalmente utilizada para
                processamento de textos, dados científicos e criação de CGIs para páginas dinâmicas para a web.

            </div>
        </div>
    </a>
    <a href="https://flask.palletsprojects.com/en/1.1.x/" target="_blank">


        <div class="card cardFlask">
            <div class="cardHeader">
                FLASK
            </div>
            <div class="cardContent">
                Flask é uma <b>simples framework web escrita em Python</b>. É classificada como uma
                <b>microframework</b>
                porque não
                requer
                ferramentas ou bibliotecas particulares, mantendo um <b>núcleo simples, porém, extensível</b>.
                No entanto, o Flask oferece suporte a extensões que podem adicionar recursos do aplicativo como se
                fossem
                implementados no próprio Flask. Existem extensões para mapeadores objeto-relacional, validação de
                formulário, manipulação de upload, várias tecnologias de autenticação aberta e várias ferramentas comuns
                relacionadas à framework.

            </div>
        </div>
    </a>
    <a href="https://www.heroku.com" target="_blank">
        <div class="card cardHeroku">
            <div class="cardHeader">
                HEROKU


            </div>
            <div class="cardContent">
                Heroku é uma das primeiras <b>plataformas "em nuvem"</b> como um serviço que suporta várias linguagens
                de
                programação. <br><br>
                <i>"Heroku is a container-based <b>cloud Platform as a Service (PaaS)</b>. Developers use Heroku to
                    deploy, manage,
                    and scale modern apps. Our platform is elegant, flexible, and easy to use, offering developers the
                    simplest path to getting their apps to market."</i>


            </div>
        </div>
    </a>

</div>
<div class="divGithubLink">
    <h2 style="cursor:default;">Source code </h2>
    <div class="wrapperGit">
        <img src="/static/img/githubicon.svg" class="iconGithub"><a href="https://github.com/mduvens/flaskProject"
            target="_blank">Github</a>
    </div>
</div>
<script>

</script>


{% endblock%}